div {
  max-width: 200px;
  min-height: 200px;
}
h1 {
  text-align: center;
}
body {
  max-width: 600px;
  margin: 0 auto;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px;
}
button {
  border: none;
  background-color: rgb(190, 184, 184);
  min-width: 100px;
  min-height: 40px;
  margin-bottom: 1rem;
}
