html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

div {
  font-size: 3rem;
  color: rgb(16, 23, 122);
}
input {
  font-size: 1.5rem;
  margin: 0.5rem;
  border-radius: 50px;
}
